<%- include('partials/header') %>
    <div>
        <h1>Home</h1>
        <p>
            <%= firstPara %>
        </p>
    </div>


    <% posts.forEach((post) => {%>

            <div class="mb-4">
                <h1><%= post.title %></h1>
                <p><%= post.content.substring(0, 100) + '...' %><a href="<%= userName %>/posts/<%= post.id %>">Read More</a></p>
            </div>

            
        
    <% }); %>
    <div class="pen-container position-fixed">
        <a class="pen" href="<%= userName %>/compose">
            <div>
                <%- include("../public/img/pen.svg") %>
                <span>Compose</span>
            </div>
        </a>
    </div>
    

<%- include('partials/footer') %>