<%- include('partials/header') %>
<div>
    <h1>Home</h1>
    <p>
        <%= firstPara %>
    </p>
</div>


    <% posts.forEach((post) => {%>

            <div class="post">
                <h1><%= post.title %></h1>
                <p><%= post.content.substring(0, 100) + '...' %><a href="posts/<%= post.title %>">Read More</a></p>
            </div>
        
    <% }); %>

<%- include('partials/footer') %>