<%- include('partials/header') %>
    <div>
        <h1>Home</h1>
        <p>
            <%= firstPara %>
        </p>
    </div>


    <% posts.forEach((post) => {%>

            <div class="post">
                <h1><%= post.title %></h1>
                <p><%= post.content.substring(0, 100) + '...' %><a href="<%= userName %>/posts/<%= post.id %>">Read More</a></p>
            </div>

            
        
    <% }); %>
    <a class="pen" href="<%= userName %>/compose">
        <div>
            <%- include("../public/img/pen.svg") %>
            <span>Compose</span>
        </div>
        
    </a>

<%- include('partials/footer') %>