<%- include('partials/header') %>
<div>
    <div class="mb-4"><a href="/<%= userName %>">
        <%- include("../public/img/back.svg") %>
    </a></div>
    <div>
        <h1><%= title %></h1>
        <p><%= content %></p>
    </div>
    
    <form action="/delete" method="post">
        <div class="d-flex gap-5">
            <div class="ms-auto">
                <button name="delete" type="submit" value="<%= post %>" class="bg-danger delete border-0">
                    <div>
                        <%- include("../public/img/delete.svg") %>
                    </div>
                 </button>
            </div>
            
            <input type="hidden" name="user" value="<%= userName %>">
            <div class="">
                <a class="pen" href="/<%= userName %>/posts/<%= post %>/update">
                    <div >
                        <%- include("../public/img/pen.svg") %>
                        <span>Edit Post</span>
                    </div>
                </a>
            </div>
        </div>
        
    </form>
</div>

<%- include('partials/footer') %>