<%- include('partials/header') %>
<div class="box flex">
    <div><a href="/<%= userName %>">Back</a></div>
    <div>
        <h1><%= title %></h1>
        <p><%= content %></p>
    </div>
    
    <form action="/delete" method="post" class="pen">
        <div class="d-flex gap-3">
            <button name="delete" type="submit" value="<%= post %>">
                <%- include("../public/img/pen.svg") %>
            </button>
            <input type="hidden" name="user" value="<%= userName %>">
            <a href="/<%= userName %>/posts/<%= post %>/update">Edit</a>
        </div>
        
    </form>
</div>

<%- include('partials/footer') %>